# Open DataSet Function
The function below opens the Data Set from specified `file_name`. (Code from [DataQuest](https://app.dataquest.io/course/python-for-data-science-fundamentals))

- If a header is present with column names, a tuple is returned. The first value in the tuple is a list of all of the column     names, and the second value is a list of lists containing the data set from the csv. 
- If no header is specified, then just a list of lists containing the data set is returned. 
    -

In [53]:
def open_dataset(file_name, header=True):        
    opened_file = open(file_name,encoding='utf8')
    from csv import reader
    read_file = reader(opened_file)
    data = list(read_file)
    
    if header:
        return (data[0],data[1:])
    else:
        return data

# Display DataSet Function
The function below helps display a range of a `dataset` with a specified `start` and `end` index.
Optionally, the number of rows and columns in the `dataset` can be displayed. (Code from [DataQuest](https://app.dataquest.io/course/python-for-data-science-fundamentals))

In [54]:
def explore_data(dataset, start, end, rows_and_columns=False):
    dataset_slice = dataset[start:end]    
    for row in dataset_slice:
        print(row)
        print('\n') # adds a new (empty) line after each row

    if rows_and_columns:
        print('Number of rows:', len(dataset))
        print('Number of columns:', len(dataset[0]))

# Initialize GoodReads DataSet
This code block initializes `books_header` and `books_data`. `books_header` is a list containing the column names of the data set. `books_data` is a 2-D list of lists that contains the data of the data set in a row-column format. The GoodReads Data Set used in this analysis can be found [here](https://www.kaggle.com/jealousleopard/goodreadsbooks/downloads/goodreadsbooks.zip/6).

This code block also uses the `explore_data()` function to display the column names and the first few rows of the data set.

In [55]:
books_header, books_data = open_dataset('books.csv')

'''
This function iterates through the rows in the data set and attempts to convert all columns that should be 
able to be converted from str to float. 

If all columns that should be converted to floats are successfully converted, then the entire row is included
in the new, trimmed dataset that will be returned by the function.

If a TypeError is encountered for any of these columns, the entire row is not added to the new dataset that 
will be returned by the function. 
'''
def convert_floats(indices, dataset=books_data):
    new_dataset=[]
    for row in dataset:
        try:
            for index in indices:
                row[index]=(float)(row[index])
        except ValueError:
            continue
        new_dataset.append(row)
    return new_dataset
            
'''
Assign books_data to the new dataset returned by the convert_floats() function with indices [3,5,7,8,9] as an argument
since these columns contain strings that can be converted to floats. 

Indices 0 (Book ID) and 4 (ISBN) are ommitted because they are unique for each row and may also have some non-float values 
in the string by design. 

This essentially cleans the dataset and removes any invalid, non-float entries in any of the rows.
'''
books_data=convert_floats([0,3,4,5,7,8,9])

# Headers
explore_data(books_header, 0, len(books_header), True)
# First few rows of data
explore_data(books_data,0,6,True)

bookID


title


authors


average_rating


isbn


isbn13


language_code


# num_pages


ratings_count


text_reviews_count


Number of rows: 10
Number of columns: 6
[1.0, 'Harry Potter and the Half-Blood Prince (Harry Potter  #6)', 'J.K. Rowling-Mary GrandPré', 4.56, 439785960.0, 9780439785969.0, 'eng', 652.0, 1944099.0, 26249.0]


[2.0, 'Harry Potter and the Order of the Phoenix (Harry Potter  #5)', 'J.K. Rowling-Mary GrandPré', 4.49, 439358078.0, 9780439358071.0, 'eng', 870.0, 1996446.0, 27613.0]


[3.0, "Harry Potter and the Sorcerer's Stone (Harry Potter  #1)", 'J.K. Rowling-Mary GrandPré', 4.47, 439554934.0, 9780439554930.0, 'eng', 320.0, 5629932.0, 70390.0]


[4.0, 'Harry Potter and the Chamber of Secrets (Harry Potter  #2)', 'J.K. Rowling', 4.41, 439554896.0, 9780439554893.0, 'eng', 352.0, 6267.0, 272.0]


[8.0, 'Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)', 'J.K. Rowling-Mary GrandPré', 4.78, 439682584.0, 9780439682589.0, 'eng', 2690.0, 38872.0, 154.0]


[9.0, 'Unauthorized Harry Potter Book Seven News: "Half-Blood Prince" Analysis and Speculation', 'W. Frederick Zimmerman', 3.69, 976540606.0, 9780976540601.0, 'en-US', 152.0, 18.0, 1.0]


Number of rows: 12502
Number of columns: 10

# Simple String Comparison Function

In [56]:
# Some simple String comparison functions that will be used when iterating through the data set.

# Returns True if `the_string` has at least one alphabet character. Returns false otherwise. 
def hasAlpha(the_string):
    for char in the_string:
        if char.isalpha():
            return True
    return False

# Finding Average of Certain Columns in DataSet
The code block below finds the average of the columns in the data set that have integers/floats as values. There are many methods to do this that are explained in the code block below this one. 

These averages are found using the `avg_column` function, which takes a dataset, a column (`index`), and a range of values to include in the average calculation (`smallest_allowed` and `largest_allowed`). The method that will stay most consistent with invalid rating entries in the future is used here.

In [57]:
import pandas as pd

def avg_column(index, dataset=books_data, smallest_allowed=0, largest_allowed=float('inf')):
    
    values_to_avg=[]
    
    for row in dataset:
        curr_value=row[index]
        
        # Ensure curr_value in the current row can be converted to a float. 
        try:
            curr_rating=float(curr_value) 
        except ValueError:
            continue # Skips the current iteration and does not append to values_to_avg
    
        # Ensures that curr_rating is in the valid range (based on smallest_allowed and largest_allowed)
        if(curr_rating >= smallest_allowed and curr_rating <= largest_allowed) :
            values_to_avg.append(curr_rating)
            
    #Return the average rounded to 2 decimal points. 
    return round(sum(values_to_avg) / len(values_to_avg), 2)

results_dt=pd.DataFrame({'Value':[avg_column(3, books_data, 0, 5),
                                  avg_column(7),
                                  avg_column(8),
                                  avg_column(9)]},
                        index=['Avg of All Avg Ratings',
                               'Avg # of Pages',
                               'Avg # of Ratings',
                               'Avg # of Text Reviews'])

results_dt

                           Value
Avg of All Avg Ratings      3.93
Avg # of Pages            342.12
Avg # of Ratings        18217.67
Avg # of Text Reviews     538.37

# Finding Which Books are the Largest/Least in Different Columns

The code block below finds which books are the largest and least in categories such as Average Rating, # of Pages, # of Ratings and # of Text Reviews. 

These books are identified using the `find_best_book` and `find_worst_book` functions. These functions take the GoodReads data set and column index as parameters.

In [58]:
import pandas as pd

def find_best_or_worst_book(index, best_or_worst=True, dataset=books_data):
    '''
    `final_book` is the book that is returned by the method. It will either be the best or worst in the selected column, 
    depending on 'best_or_worst'.
    ''' 
    # `final_book` is in the form of a tuple: (book ID, book title, book author, and the value of the column `index`)
    # `final_book` will start by default as all None values. 
    # Can not just set final_book to the first book in dataset since it may have non-float value in the column `index`
    best_book=(None, None, None, None)
    
    for curr_book in dataset:
        # Ensure that the string in column `index` for the curr_book can be converted to a float
        # If the string can't be converted to float, then just skip the current iteration of the loop (this skips the book)
        try:
            curr_value=(float)(curr_book[index])
        except ValueError:
            continue
        
        # best_or_worst=True means find the best book in the category, False means find the worst book in the category.
        if best_or_worst==True:
            if best_book[-1]==None or curr_value > best_book[-1]:
                best_book=(curr_book[0], curr_book[1], curr_book[2], curr_value)
        else:
            if best_book[-1]==None or curr_value < best_book[-1]:
                best_book=(curr_book[0], curr_book[1], curr_book[2], curr_value)
    
    return best_book

best_results_dt = pd.DataFrame({'Book ID':[find_best_or_worst_book(3)[0], 
                                           find_best_or_worst_book(7)[0], 
                                           find_best_or_worst_book(8)[0],
                                           find_best_or_worst_book(9)[0]],
                           
                               'Book Title':[find_best_or_worst_book(3)[1], 
                                             find_best_or_worst_book(7)[1], 
                                             find_best_or_worst_book(8)[1],
                                             find_best_or_worst_book(9)[1]],
                               'Author':[find_best_or_worst_book(3)[2], 
                                         find_best_or_worst_book(7)[2], 
                                         find_best_or_worst_book(8)[2],
                                         find_best_or_worst_book(9)[2]],
                               'Value':[find_best_or_worst_book(3)[3], 
                                        find_best_or_worst_book(7)[3], 
                                        find_best_or_worst_book(8)[3],
                                        find_best_or_worst_book(9)[3]]},
                              index=['Avg Rating',
                                     '# of Pages',
                                     '# of Ratings',
                                     '# of Text Reviews'])
print('BEST BOOK IN EACH CATEGORY RESULTS: \n\n' + str(best_results_dt))

worst_results_dt = pd.DataFrame({'Book ID':[find_best_or_worst_book(3, False)[0], 
                                           find_best_or_worst_book(7, False)[0], 
                                           find_best_or_worst_book(8, False)[0],
                                           find_best_or_worst_book(9, False)[0]],
                           
                               'Book Title':[find_best_or_worst_book(3, False)[1], 
                                             find_best_or_worst_book(7, False)[1], 
                                             find_best_or_worst_book(8, False)[1],
                                             find_best_or_worst_book(9, False)[1]],
                               'Author':[find_best_or_worst_book(3, False)[2], 
                                         find_best_or_worst_book(7, False)[2], 
                                         find_best_or_worst_book(8, False)[2],
                                         find_best_or_worst_book(9, False)[2]],
                               'Value':[find_best_or_worst_book(3, False)[3], 
                                        find_best_or_worst_book(7, False)[3], 
                                        find_best_or_worst_book(8, False)[3],
                                        find_best_or_worst_book(9, False)[3]]},
                              index=['Avg Rating',
                                     '# of Pages',
                                     '# of Ratings',
                                     '# of Text Reviews'])

print('\nWORST BOOK IN EACH CATEGORY RESULTS: \n\n' + str(worst_results_dt))

BEST BOOK IN EACH CATEGORY RESULTS:

                   Book ID                                         Book Title  \
Avg Rating          2034.0  Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...
# of Pages         18796.0                 In Search of Lost Time (6 Volumes)
# of Ratings           3.0  Harry Potter and the Sorcerer's Stone (Harry P...
# of Text Reviews  41865.0                            Twilight (Twilight  #1)

                                                              Author  \
Avg Rating                       Aristophanes-F.W. Hall-W.M. Geldart
# of Pages         Marcel Proust-C.K. Scott Moncrieff-Andreas May...
# of Ratings                              J.K. Rowling-Mary GrandPré
# of Text Reviews                                    Stephenie Meyer

                       Value
Avg Rating               5.0
# of Pages            4211.0
# of Ratings       5629932.0
# of Text Reviews    93619.0

WORST BOOK IN EACH CATEGORY RESULTS:

                   Book ID                                         Book Title  \
Avg Rating           799.0  Out to Eat London 2002 (Lonely Planet Out to Eat)
# of Pages           955.0  The 5 Love Languages / The 5 Love Languages Jo...
# of Ratings         797.0                              Lonely Planet Londres
# of Text Reviews     54.0                      Molly Hatchet - 5 of the Best

                                                      Author  Value
Avg Rating                          Lonely Planet-Mark Honan    0.0
# of Pages                                      Gary Chapman    0.0
# of Ratings       Lonely Planet-Sarah Johnstone-Tom Masters    0.0
# of Text Reviews                              Molly Hatchet    0.0

# More Specific Queries of the DataSet

1. The first specific query finds which Book has the highest average rating among the Books with above 100000, 500000, 1000000, and 200000 ratings.
2. The second specific query finds which Book has the lowest average rating among the Books with above 1000, 5000, 10000 ratings.

In [59]:
import pandas as pd

'''
The queries described above are executed by first trimming the `books_data` dataset to only rows that exceed a certain 
minimum value in a certain column such as average rating, # of ratings, # of text reviews, etc. After `books_data` is trimmed,
the `find_best_or_worst_book` function from above is called with the trimmed dataset as an argument. 

The function below allows for trimming based on 3 parameters: 
    1. `index`: Indicates the column from which row values must be larger than `minimum_value'
    2. `minimum_value`: The value that rows must exceed in the `index` column to be part of the trimmed dataset
    3. 'dataset': The dataset that will be trimmed. 
'''
def trim_dataset(index, minimum_value, dataset=books_data):
    new_dataset=[]
    for book in books_data:
        try:
            curr_value=float(book[index])
        except TypeError: 
            continue
        if(curr_value>=minimum_value):
            new_dataset.append(book)
    return new_dataset

# Returns the row of the data set that matches with a unique Book ID passed as a parameter.
def look_up_book(ID, dataset=books_data):
    for book in dataset:
        if ID == book[0]:
            return book

# Returns a 2-D list of values from specified column(s) (`indices`) in the dataset
# `indices` must be a list of integers
def get_columns(indices, dataset=books_data):
    if len(indices)==1:
        return get_column(indices[0], dataset)
    
    columns=[]
    for index in indices:
        columns.append(get_column(index, dataset))
    return columns

# Returns a list of values from a specified column (`index`) in the dataset
def get_column(index, dataset=books_data):
    column=[]
    for row in dataset:
        column.append(row[index])
    return column

# Find which book has the best avg rating with more than 100000, 500000, 1 Million, and 2 Million ratings:

# Initialize trimmed data sets
dataset_one=trim_dataset(8, 100000)
dataset_two=trim_dataset(8, 500000)
dataset_three=trim_dataset(8, 1000000)
dataset_four=trim_dataset(8, 2000000)

# Find and initialize the book with the highest average rating in each ratings group
best_book_one=find_best_or_worst_book(3, dataset=dataset_one)
best_book_two=find_best_or_worst_book(3, dataset=dataset_two)
best_book_three=find_best_or_worst_book(3, dataset=dataset_three)
best_book_four=find_best_or_worst_book(3, dataset=dataset_four)

# Initialize the # of ratings for the book with the highest avg. ratings in each ratings group.
# This is used later when displaying the results of the query
best_book_one_ratings= look_up_book(best_book_one[0])[8]
best_book_two_ratings= look_up_book(best_book_two[0])[8]
best_book_three_ratings= look_up_book(best_book_three[0])[8]
best_book_four_ratings= look_up_book(best_book_four[0])[8]

#Initialize and print all titles and ratings of books in the trimmed dataset with >= 1 Million ratings (dataset_three)
d3_df = pd.DataFrame({'Title': get_columns([1,8],dataset_three)[0],
                      'Ratings': get_columns([1,8],dataset_three)[1]})
print(d3_df)

q1_results = pd.DataFrame({'Book ID':[best_book_one[0], 
                                      best_book_two[0], 
                                      best_book_three[0],
                                      best_book_four[0]],
                           
                           'Book Title':[best_book_one[1], 
                                         best_book_two[1], 
                                         best_book_three[1],
                                         best_book_four[1]],
                           'Author':[best_book_one[2], 
                                     best_book_two[2], 
                                     best_book_three[2],
                                     best_book_four[2]],
                           'Average Rating':[best_book_one[3], 
                                             best_book_two[3], 
                                             best_book_three[3],
                                             best_book_four[3]],
                           '# of Ratings': [best_book_one_ratings,
                                            best_book_two_ratings,
                                            best_book_three_ratings,
                                            best_book_four_ratings]},
                          index=['>= 100000 Ratings',
                                 '>= 500000 Ratings',
                                 '>= 1000000 Ratings',
                                 '>= 2000000 Ratings'])


q1_results

                                                Title    Ratings
0   Harry Potter and the Half-Blood Prince (Harry ...  1944099.0
1   Harry Potter and the Order of the Phoenix (Har...  1996446.0
2   Harry Potter and the Sorcerer's Stone (Harry P...  5629932.0
3   The Fellowship of the Ring (The Lord of the Ri...  2009749.0
4                                       The Alchemist  1592632.0
5                                     Of Mice and Men  1654353.0
6                                 Memoirs of a Geisha  1301305.0
7                Angels & Demons (Robert Langdon  #1)  2279854.0
8              The Da Vinci Code (Robert Langdon  #2)  1588890.0
9                                        Little Women  1402458.0
10                 The Adventures of Huckleberry Finn  1022438.0
11                                          The Giver  1464909.0
12                             The Catcher in the Rye  2318478.0
13                                    Brave New World  1173739.0
14                 The Hobbit or There and Back Again  2364968.0
15                                  Wuthering Heights  1041597.0
16                                        Animal Farm  2102616.0
17                                  Lord of the Flies  1861140.0
18                                          Jane Eyre  1328143.0
19     A Game of Thrones (A Song of Ice and Fire  #1)  1598396.0
20  Harry Potter and the Chamber of Secrets (Harry...  2115562.0
21                    The Notebook (The Notebook  #1)  1090301.0
22                                   Romeo and Juliet  1811259.0
23                                     The Book Thief  1410666.0
24                                    Eat  Pray  Love  1309623.0
25                                    Charlotte's Web  1229902.0
26  The Lightning Thief (Percy Jackson and the Oly...  1645445.0
27                            Where the Sidewalk Ends  1094416.0
28                            The Secret Life of Bees  1007862.0
29                            Twilight (Twilight  #1)  4367341.0
30                                Water for Elephants  1198632.0

,Book ID,Book Title,Author,Average Rating,# of Ratings
>= 100000 Ratings,43070.0,The Essential Calvin and Hobbes: A Calvin and ...,Bill Watterson,4.64,102955.0
>= 500000 Ratings,1.0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,1944099.0
>= 1000000 Ratings,1.0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,1944099.0
>= 2000000 Ratings,3.0,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,5629932.0

# Alternative Methods for Finding Average
Below is the long, messy way to find the average of all of the average ratings.

In [60]:
'''
import re
import pandas as pd

avg_ratings = []
ratings_not_counted=[]

total_num_books=len(books_data)
avg_ratings_counted=0

for book in books_data:
    
    curr_rating=book[3] # this is a string with the avg rating of the current book
    
    # Method 1: Use a try-except block to skip over cases where curr_rating can not be converted to a float.
    
    # This works, but can lead to issues in the future, such as an invalid average rating like 6.78 (Max is 5). 
    try:
        avg_ratings.append(float(curr_rating))
    except ValueError:
        continue # Skips the current iteration and does not append to avg_rating or increment avg_ratings_counted
    avg_ratings_counted+=1
    
    # Method 2: Reject any curr_rating strings that have even one character in the alphabet.
    rating_has_alpha=hasAlpha(curr_rating)
    
    if rating_has_alpha==False:
        avg_ratings.append(float(book[3]))
        avg_ratings_counted+=1
    else:
        ratings_not_counted.append(curr_rating)
    
    # Method 3: Reject any curr_rating strings of length other than 4 b/c the ratings in the table are all in the form '#.##'
    if len(book[3])==4:
        avg_ratings.append(float(book[3]))
        avg_ratings_counted+=1
    else:
        ratings_not_counted.append(curr_rating)
    
    # Method 4: Combine Method 2 and Method 3 and ensure rating is valid (>= 0 and <= 5)
    rating_has_alpha=hasAlpha(curr_rating)
    if rating_has_alpha==False and len(book[3])==4 and float(curr_rating) >= 0 and float(curr_rating) <= 5:
        avg_ratings.append(float(curr_rating))
        avg_ratings_counted+=1
    else:
        ratings_not_counted.append(curr_rating)
    
    # Method 5: Method 1 and ensure rating is valid (>= 0 and <= 5). This is the safest/most-consistent approach. 
    try:
        if float(curr_rating) >= 0 and float(curr_rating) <= 5: 
            avg_ratings.append(float(curr_rating))
    except ValueError:
        continue # Skips the current iteration and does not append to avg_rating or increment avg_ratings_counted
    avg_ratings_counted+=1
    
# Calculate the average of the average ratings of all of the books. 
avg_rating_all_books = sum(avg_ratings) / len(avg_ratings)


print('Average of all Average Ratings: ' + str(avg_rating_all_books) + '\n')
print('Total # of Books: ' + str(total_num_books))
print('# of Books Counted in Average Calculation: ' + str(avg_ratings_counted))
print('Difference: ' + str(total_num_books - avg_ratings_counted))

print('\nRatings not counted: ' + str(ratings_not_counted))

# Put everything in a Pandas DataFrame to display.
results_dt= pd.DataFrame({'Value':[avg_rating_all_books, 
                                   total_num_books, 
                                   avg_ratings_counted,
                                   total_num_books-avg_ratings_counted,
                                   ratings_not_counted]},
                         index=['Avg of All Rating Avgs',
                                'Total # of Books',
                                '# of Books Counted in Avg Calculation',
                                'Difference',
                                'Ratings NOT Counted'])
'''
''

''